        .form-item--style-options-widgets-bottom-lp-swiper-slide-counter-enable{
            display: none;
        }
        .form-item--style-options-widgets-bottom-lp-swiper-controls-enable{
            display: none;
        }
        .form-item--style-options-widgets-top-lp-swiper-slide-counter-enable{
            display: none;
        }
        .form-item--style-options-widgets-top-lp-swiper-controls-enable{
            display: none;
        }        
        .form-item--style-options-widgets-top-lp-swiper-pager-enable{
            display: none;
        }
        .vs-dependent-abc{
            display: none;
        }