{% set header__base_class = 'header' %}
{# If `directory` is defined, set the path relative for Drupal.
 # Otherwise, set the path relative to the Component Library. #}
{% set header__logo_src = directory ? '/' ~ directory ~ '/images/logo.png' : 'logo.png' %}
<header {{ bem(header__base_class) }}>
  <div {{ bem('menu', [], header__base_class) }}>
    <div {{ bem('inner', [], header__base_class) }}>
      {% block header__usermenu %}
        {% include "@molecules/menus/inline/inline-menu.twig" %}
      {% endblock %}
      {% block header__menu %}
        {% include "@molecules/menus/main-menu/main-menu.twig" %}
      {% endblock %}
      {% block header__languageswitcher %}
        {% include "@molecules/language-switcher/language-switcher.twig" %}
      {% endblock %}
      {% include "@molecules/menus/main-menu/main-menu-toggle.twig" %}
    </div>
  </div>
  <div {{ bem('inner', [], header__base_class) }}>
    <div {{ bem('primary', [], header__base_class) }}>
      <div {{ bem('branding', [], header__base_class) }}>
        {% block header__branding %}
          {% include "@organisms/site/site-header/_site-header-branding.twig" %}
        {% endblock %}
      </div>
      <div {{ bem('searchblock', [], header__base_class) }}>
        {% block header__searchblock %}
          SEARCH BLOCK GOES HERE
        {% endblock %}
      </div>
    </div>
  </div>
  <div {{ bem('landportal_menu', [], header__base_class, new_page_node_type, new_page_node_id) }}>
    <div {{ bem('inner', [], header__base_class) }}>
      {% block landportal__menu %}
        {% include "@molecules/menus/landportal-menu/landportal-menu.twig" %}
      {% endblock %}
    </div>
  </div>
</header>
