// Drupal language switcher.
.language-switcher-language-url {
  border-right: 2px solid clr(background-light);
  position: relative;
  color: clr(text-muted);
  display: none;

  @include medium {
    display: block;
  }

  h2 {
    display: inline-block;
    margin: 0;
    padding: 0.46875rem 0.9375rem; // 7.5px 15px
    font-size: 0.8125rem; // 13px
    line-height: 1.5;
    font-weight: normal;
    color: clr(text-muted);
    &::after {
      @include caret;
    }
  }

  &:hover {
    background-color: clr(background-light);

    h2 {
      color: clr(background-dark);
      cursor: pointer;
      transition: all 0.2s;
    }

    &::after {
      color: clr(link);
    }

    & > ul.links {
      display: block;
    }
  }

  ul.links {
    @include list-reset;

    height: 0;
    overflow: hidden;
    background-color: $white;
    width: 100%;

    @include medium {
      background-color: $white;
      display: none;
      height: auto;
      left: 2px;
      overflow: visible;
      position: absolute;
      width: 158px;
      z-index: 1;
      font-size: 0.9rem;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    }

    &:hover {
      .language-link {
        &.active,
        &:active,
        &:hover {
          color: clr(link-hover);
          text-decoration: underline;
        }
      }
    }

    &.language-switcher--open {
      display: block;
      height: auto;
    }
  }

  li {
    &:not(:first-child) {
      border-top: 1px solid clr(background-dark);
    }

    font-size: 0.875rem; // 14px
    display: block;
    padding: $space-one-third $space;
  }

  .language-link {
    color: clr(link);
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    @include medium {
      padding: 0;
    }
  }
}
