{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% extends "@organisms/site/site-header/site-header.twig" %}
{% block header__menu %}
  {{ elements.mainnavigation }}
{% endblock %}
{% block header__languageswitcher %}
  {{ elements.languageswitcher }}
{% endblock %}
{% block header__usermenu %}
  {{ elements.useraccountmenu }}
{% endblock %}
{% block header__searchblock %}
  {{ elements.search_form }}
{% endblock %}
{% block landportal__menu %}
  {{ elements.landportalmenu }}
{% endblock %}

