.tooltip {
  background-color: clr(background_dark);
  position: relative;
  cursor: pointer;

  &::before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    margin-left: 15px;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    background-color: clr(text-muted);
    color: clr(text-light);
    text-align: center;
    z-index: 1;
    display:none;
  }

  &::after {
    content: "";
    position:absolute;
    left:100%;
    margin-left:-5px;
    top:50%;
    transform:translateY(-50%);
    border:10px solid clr(text-muted);
    border-color: transparent clr(text-muted) transparent transparent;
    display:none;
  }

  &:hover::before, &:hover::after {
    display: block;
  }
}
