.header {
    .new_page_term_theme{
        border-bottom: 5px solid $lpred;
    }
}
#block-landportal-local-tasks--2{
    .tabs__nav--local-tasks{
        padding-top: 3%;
    }
}
.background-overview-full{
    .block{
        @media (min-width: $md){
            img{
                display: none;
            }
        }
        @media (min-width: $lg){
            img{
                width: 100%;
                height: 550px;
                display: block;
            }
        }

        &:nth-child(2){
            display: none;
        }
    }
}
#block-mainpagecontent{
    position:relative;    
    .background-overview-full-content{
        .layout__region{
            padding-left: 3%;
            padding-right: 3%;
            padding-top: 1%;
            padding-bottom: 2%;
             height: 100%;

             header {
                p{
                    a{
                        color: #06c;
                        text-decoration: none;
                    }
                }
             }
              .views-element-container {
                .views-field-view-node{
                    .field-content{
                        background: #C03;
                        padding: 6px 20px 6px 8px;
                        border-radius: 5px;

                        a{
                            text-decoration: none;
                            color: #fff;
                             &::before{
                                content: " \00BB ";
                                color: #fff;
                                font-weight: bold;
                                font-size: 20px;
                            }
                        }
                    }
                }
              }
              .block{
                   @media (min-width: $md){
                        &:nth-child(3){
                            bottom: 0;
                        }
                  }
                   @media (min-width: $mdtab){
                        &:nth-child(3){
                            position: static;
                        }
                  }
                    @media (min-width: $lg){
                        &:nth-child(3){
                            position: absolute;
                            bottom: 18px;
                        }
                      }
                        .text-long{
                            div{
                                &:nth-child(1){
                                    display: none;
                                }
                            }
                        }
                }
                .layout-builder-block{
                    &:nth-child(3){
                        position: static;
                    }
                }
        }
        @media (min-width: $md){
            position: static;
            width: auto;
            height: auto;
            margin-left: auto; 
            background-color: #efece5; 
        }   
        @media (min-width: $lg){
            position: absolute;
            top: 0;
            width: 45%;
            background-color: #efece5;
            height: 550px;
            margin-left: 10%;
        }
    }
    .layout-builder__layout{
        position: static;
    }
    .grid--issue{
        padding: 0;
        img{
             @media (min-width: $md){
                height: auto;
            } 
        }
    }
    .background-related-concepts {
        background-color: #40b192;
        margin-top: inherit;
        .layout__region--first {
            .block{
                @media (min-width: $md){
                    width: 75%;
                    margin-left: auto;
                    margin-right: auto;
                }
                @media (min-width: $mdtab){
                    width: 75%;
                    margin-left: 35%;
                }
                .issue-narrative-landvoc-image-title{
                    display: none;
                }
                .field-content{
                    a{
                        img{
                            margin-top: 6%;
                            margin-bottom: 6%;
                        }
                    }
                } 
            }
        }
        .layout__region--second {
            .block {
                @media (min-width: $md){
                    padding-left: 4%;
                    margin-bottom: 2%;
                    width: 100%;
                    margin-left: inherit;
                }
                @media (min-width: $mdtab){
                     width: 76%;
                     margin-left: 10%;
                     margin-top: 2%;
                     margin-bottom: 2%;
                }
                div{
                    display: inline;
                    a{
                        color: black;
                        text-decoration: none;
                        border-left: 6px solid #336;
                        background: #69bca5;
                        display: inline-block;
                        height: 30px;
                        margin: 4px 1px 1px 1px;
                        border-radius: 5px;
                        padding: 2px 5px 5px 5px;
                       
                    }
                }
            }
        }
    }
    .layout-background--full{
        &:nth-child(4), &:nth-child(3){
                .container{
                    @media (min-width: $mdtab){
                        display: flex;
                    }
                header{
                    font-weight: 700;
                    border-bottom: 4px solid $lpred;
                    padding-top: 2%;
                    
                    a{
                        float: right;
                        color: #fff;
                        text-decoration: none;

                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    .indicators__heading{
                        border-bottom:0;
                        margin-bottom:0;
                    }
                } 
                .views-field-indicator {
                    .field-content{
                        .js-form-item{
                            display: none;
                        }
                        .indicator{
                            @media (min-width: $md){
                                float: inherit;
                                width: 100%;
                                padding-bottom: 1px;
                            }
                            @media (min-width: $mdtab){
                                width: 25%;
                                float: left;
                                padding-bottom: 2%;
                                padding-right: 2%;
                            }

                            width: 25%;
                            float: left;
                            padding-top: 18px;

                            .indicator__label{
                                background-color: $lpred;
                            }
                        }
                    } 
                }
            }
        }
    }

.investment-responsible-key-lesson{
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $md){
        width: 91%;
    }
    @media (min-width: $mdd){
        width:95.5%;
        margin-left:auto;
        margin-right:auto;
    }
    @media (min-width: $mdtab){
        width: 91%;
    }
    @media (min-width: $lg){
        width: 87%;
    }
    @media (min-width: $exlg){
        width: 77%;
    }
    .layout__region--first{
        flex: inherit;
        @media (min-width: $mdtab){
            flex: 100%;
        }
        @media (min-width: $lg){
            flex: 33%;
        }
        header{
            @media (min-width: $md){
            padding-right: 4%;
            }
            @media (min-width: $mdtab){
            padding-right: 0;
            }

            padding-top: 8%;
            a:nth-child(1){
                text-decoration:none;
            }
            p{
                margin-right: 3%;
            }
            .views-row{
                .left{
                    float:left;
                    @media (min-width: $md){
                        width:100%;
                    }
                    @media (min-width: $lg){
                        width:auto;
                    }
                }
                .right{
                    width:27%;
                    float:right;
                    @media (min-width: $md){
                        width:100%;
                        display: flex;
                        padding-left: 4%;
                    }
                    @media (min-width: $mdd){
                        padding-left: 3%;
                    }
                    @media (min-width: $lg){
                        width: 27%;
                        float: right;;
                    }
                    img{
                        @media (min-width: $md){
                            width:100%;
                        }
                    }
                }    
                }
                .field-content{
                    strong{
                        a{
                            color: black;
                        }
                    } 
                } 
            } 
        }
        .views-field-name{
            a{
                display:none;
            }
        }
    .layout__region--second{
        flex: content;
        @media (min-width: $mdtab){
            flex: 100%;
        }
        @media (min-width: $lg){
            flex: 67%;
            padding-left: 3%;
        }
        .views-field-name{
            span{
                display:none;
            }
        }
        header{
            @media (min-width: $md){
            padding-right: 4%;
            }
            @media (min-width: $mdtab){
            padding-left: 0;
            padding-right: 4%;
            }

            padding-top: 3.5%;
            padding-right: 4%;
            p{
                color:black;
                margin-bottom: 0;
            }
             &:nth-child(1){
                    padding-left:0;
                    margin-bottom:0;
                }
                a{
                    text-decoration: none;
                    color:black;
                    font-size:0.9em;
                &:hover{
                    text-decoration: underline;
                    color:#191970;
                }
            }
            header{
                p{
                    font-weight: bold;
                }
            } 
        }
        .block{
            padding-bottom: 5%;
        }
    }
}
.responsible-land-based{
        background: black;
        .container{
            h2{
                color:#fff;
            }

            header{
                .views-col:nth-child(1){

                    @media (min-width: $md){
                        width: 100% !important;
                    }
                    @media (min-width: $lg){
                        width: 49% !important;
                        padding-bottom:0;
                    }
                    .views-field-body{
                        p{
                            color: #fff;
                        }
                    }
                    .views-field-related-initiatives-link{
                        a{
                            img{
                                background: #fff;
                            }
                        } 
                    }  
                }
                .views-col:nth-child(2){
                    @media (min-width: $md){
                        width: 100% !important;
                    }
                    @media (min-width: $lg){
                        width: 49% !important;
                        margin-left: 1%;
                    }                   
                    .views-field-body{

                        @media (min-width: $md){
                            width: 100%;
                        }
                        @media (min-width: $lg){
                            margin-left: auto;
                            margin-right: auto;
                        }
                        p{
                            color: #fff;
                        }
                    }
                    .views-field-related-initiatives-link{
                        a{
                            img{
                                @media (min-width: $md){
                                    width: auto;   
                                }
                                @media (min-width: $lg){
                                    margin-left: auto;
                                    margin-right: auto;
                                }
                            }
                        } 
                    } 
                } 
            }
            .views-row.even{
                display: none;
            } 
        }
    }
}
